@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-transparent {
    background-image: linear-gradient(to top,rgba(255 255 255 / 100%) 10% ,rgba(255, 255, 255, 0.6),rgba(255 255 255 / 20%),rgba(255 255 255 / 100%));
}

.h-vh {
    height: calc(100vh - 90px);
    min-height: calc(100vh - 90px);
    max-height: calc(100vh - 90px);

}
* {
    font-weight: 500;
    transition: all .4s;
    box-sizing: border-box;
}

li {
    list-style: none;
}
a {
   text-decoration: none;
}
img {
    object-fit: contain;
    object-position: center;


}

::-webkit-scrollbar {
scrollbar-width: 0;
}
input {
    outline: none;
}
input:focus {
    outline-color: transparent;
}






