@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-weight: 500;
    transition: all .4s;
}

li {
    list-style: none;
}
a {
   text-decoration: none;
}
img {
    object-fit: contain;

}

::-webkit-scrollbar {
scrollbar-width: 0;
}






