@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-weight: 500;
    transition: all .4s;
}

li {
    list-style: none;
}
a {
   text-decoration: none;
}
img {
    object-fit: contain;

}

::-webkit-scrollbar {
scrollbar-width: 0;
}
input {
    outline: none;
}
input:focus {
    outline-color: transparent;
}






